
.cardlist{
    margin-top: 2%;
    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}


.cardlist h1{
    color:red
}

.cardlist img{
    height: 50px;
}