.carticon {
    position: relative;
    margin: 10px;
}

.icon{
    font-size: 30px;
    color: whitesmoke;
}

.carticon img{
    width: 40px;
}


.carticon span{    
    position: absolute;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif	;
    font-size: 1.5rem;
    top: -30px;
    left: 4px;
    padding: 10px 15px;
    
}
.carticon button{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}
