
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.carousel-item {
height: 65vh;
min-height: 300px;
background: no-repeat center center scroll;

}


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
    gap: 15px;
}


.item{
    text-align: center;
}

.item:hover {
    transform: scale(1.2) !important;
    z-index: 1;
    } 
